.markdown-body {
  @apply flex;
  @apply flex-col;
  @apply gap-2;
  font-family: 'Noto Sans', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  a {
    @apply link;
    @apply link-accent;
  }

  ul,
  ol {
    @apply pl-5;
  }

  ul li {
    list-style: disc;
  }
  ol li {
    list-style: decimal;
  }

  p {
    @apply text-base;
    @apply leading-6;
  }
}
