@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
}

.fill-icon,
.fill-primary,
.fill-secondary {
  transition: fill 200ms;
}

[data-theme='light'] .fill-icon {
  fill: oklch(var(--bc));
}

[data-theme='dark'] .fill-icon {
  fill: oklch(var(--bc));
}

.fill-primary {
  fill: oklch(var(--p));
}

.fill-secondary {
  fill: oklch(var(--s));
}
