@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

.firebase-emulator-warning {
  opacity: 0.2;
  pointer-events: none;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
}

[data-theme='light'] {
  ::selection {
    @apply bg-indigo-300;
  }
}

[data-theme='dark'] {
  ::selection {
    @apply bg-indigo-700;
  }
}

.comment-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  p {
    @apply text-sm;
  }
  a {
    @apply link-accent;
    @apply link-hover;
  }
}
