@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.firebase-emulator-warning {
  opacity: 0.2;
  pointer-events: none;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
}

[data-theme='light'] {
  ::selection {
    @apply bg-indigo-300;
  }
}

[data-theme='dark'] {
  ::selection {
    @apply bg-indigo-700;
  }
}
