@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.firebase-emulator-warning {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0) !important;
  color: transparent !important;
  border-width: 0 !important;
  border-bottom-width: 2px !important;
  border-color: red !important;
  /* display: none; */
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
}

[data-theme='light'] {
  ::selection {
    @apply bg-indigo-300;
  }
}

[data-theme='dark'] {
  ::selection {
    @apply bg-indigo-700;
  }
}

.markdown-body {
  @apply flex;
  @apply flex-col;
  @apply gap-2;
  font-family: 'Noto Sans', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  a {
    @apply link;
    @apply link-accent;
  }

  ul,
  ol {
    @apply pl-5;
  }

  ul li {
    list-style: disc;
  }
  ol li {
    list-style: decimal;
  }

  p {
    @apply text-base;
    @apply leading-6;
  }
}
